<!DOCTYPE html>
<html ng-app="Chat">
  <head>
    <title>GoInstant GoAngular Component Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="gi-banner.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <div class="container" ng-controller="ChatCtrl">
      <h1>GoAngular Getting Started Example Chat</h1>
      <section id="messages" class="clearfix">
        <div class="table-wrapper">
          <table class="table">
            <tr ng-repeat="message in messages">
              <td class="message-username col-sm-2">
                <span>{{ message.author }}</span>
              </td>
              <td class="message-content col-sm-10">
                <div class="settings">
                  <!--<span class="timestamp">4:19 PM</span>-->
                  <div class="btn-group">
                    <button type="button" class="btn btn-link btn-xs dropdown-toggle" data-toggle="dropdown">
                      <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a></li>
                      <li><a href="#"><span class="glyphicon glyphicon-trash"></span> Remove</a></li>
                    </ul>
                  </div>
                </div>
                {{ message.content }}

                <!-- TODO -->
                <!-- Show when editing
                <div class="col-xs-11">
                  <textarea class="form-control" rows="1"></textarea>
                </div>
                <div class="col-xs-1">
                  <button type="button" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-ok"></span></button>
                </div>
                -->
              </td>
            </tr>
          </table>
        </div>
      </section>
      <form role="form" class="well clearfix" ng-submit="sendMessage()">
        <div class="row">
          <div class="col-xs-3">
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
              <input ng-model="author" class="input input-lg form-control" placeholder="Your Name">
            </div>
          </div>
          <div class="col-xs-7">
            <input ng-model="newMessage" ng-disabled="sendingMessage" placeholder="What's up?" class="input input-lg form-control">
          </div>
          <div class="col-xs-2">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Send</button>
          </div>
        </div>
      </form>
    </div>
    <div id="goinstant-header">
      <ul class="gi-links">
        <li class="gi-logo"><a href="http://www.goinstant.com/" target="_blank"><img src="../img/goinstant-white.png" alt="GoInstant Docs"></a></li>
        <li><a href="http://goinstant.com/signup" target="_blank">Sign up free</a></li>
        <li><a href="https://developers.goinstant.com/v1/GoAngular/index.html" target="_blank">Docs &amp; API</a></li>
      </ul>
      <ul class="gi-social">
        <li class="gi-label">Share with friends:</li>
        <li>
          <a href="https://twitter.com/share" class="twitter-share-button" data-via="goinstant" data-text="Build an easy realtime chat with GoAngular (GoInstant + AngularJS)">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </li>
        <li>
          <div class="g-plusone" data-size="medium"></div>
          <script type="text/javascript">
            (function() {
              var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
              po.src = 'https://apis.google.com/js/platform.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
          </script>
        </li>
      </ul>
    </div>

    <!-- Angular -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

    <!-- CONFIG -->
    <script src="../../config/config.js"></script>

    <!-- Platform -->
    <script src="https://cdn.goinstant.net/v1/platform.min.js"></script>

    <!-- GoAngular -->
    <script src="https://cdn.platform-staging.goinstant.org/integrations/goangular/latest/goangular.min.js"></script>
    <script>
      angular
        .module('Chat', ['goangular'])
        .config(function($goConnectionProvider) {
          $goConnectionProvider.$set('<%- GOINSTANT_CONNECT_URL %>');
        })
        .controller('ChatCtrl', function($scope, $goKey) {
          $scope.messages = $goKey('messages').$sync();

          $scope.messages.$on('add', {
            local: true,
            listener: scrollOn
          });

          $scope.messages.$on('ready', scrollOn);

          $scope.sendMessage = function() {
            if(!$scope.newMessage) {
              return;
            }

            $scope.messages.$add({
              content: $scope.newMessage,
              author: $scope.author
            }, { expire: 5000 }).then(function() {
              $scope.$apply(function() {
                $scope.newMessage = '';
              });
            });
          }

          function scrollOn() {
            setTimeout(function() {
              $('.table-wrapper').scrollTop($('.table-wrapper').children().height());
            }, 0);
          }
        });
    </script>
  </body>
</html>
